<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Div-wang</title>
    {% include './static/common.html' %}
</head>

<body>
    {% include './common/head.html' %}
    <section class="welcome animate" id="welcome">
        <div class="container">
            <h2 style="text-align:center">Read Me {% include './icons/github.html' %} {% include './icons/sina.html' %} {% include './icons/zhihu.html' %} {% include './icons/google.html' %} </h2>
            <h3 style="text-align:center">我的技术随想录</h3>
        </div>
    </section>
    <section class="section clearfix animate" id="project">
        <div class="container">
            <div class="section-main">
                <div class="member">
                    <a class="member-name" target="_blank" href="/blog/currency-war.html">货币战争：相当不错的金融普及读本 {% include './icons/link.html' %}</a>
                    <div class="member-skills">
                        刚开始就像讲故事一样，到后面几章，讲金本位和信贷危机的时候就觉得挺有道理，最后还预测到了08年经济危机！挺不错的一本书，能够学到挺多的金融知识。
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="/blog/mysql-operations-guide.html">mysql操作指南 {% include './icons/link.html' %}</a>
                    <div class="member-skills">
                        集合一些常用的mysql操作，覆盖增删改查；
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="/blog/hosts-to-google.html">hosts翻墙上google {% include './icons/link.html' %}</a>
                    <div class="member-skills">
                        天朝的网络大家都懂的，有个万恶的墙一直在阻止程序猿们翻山越岭。而对于用惯免费的我们来说，VPN代理是收费的，下面教大家一个免费翻墙的方法－hosts翻墙；
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="/blog/CSS-selector-performance.html"> CSS 选择器性能求解 {% include './icons/link.html' %}</a>
                    <div class="member-skills">
                        关于css性能的详细探究；
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="/blog/JavaScript-Array-operating.html"> JavaScript Array 常用操作 {% include './icons/link.html' %}</a>
                    <div class="member-skills">
                        基本数组的常用操作，做个备份；
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="/blog/JavaScript-DOM-operating.html"> JavaScript DOM节点操作 {% include './icons/link.html' %}</a>
                    <div class="member-skills">
                        这是简介
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="/blog/h5-share-app.html">手机网页实现分享到本地微信微博等应用中 {% include './icons/link.html' %}</a>
                    <div class="member-skills">
                        这是简介
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% include './common/foot.html' %}
</body>

</html>
