<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Div-wang</title>
    {% include './static/common.html' %}
</head>

<body>
    {% include './common/head.html' %}
    <section class="welcome animate" id="welcome">
        <div class="container">
            <h2 style="text-align:center">Read Me {% include './icons/github.html' %} {% include './icons/sina.html' %} {% include './icons/zhihu.html' %} {% include './icons/google.html' %} </h2>
            <h3 style="text-align:center">我的技术随想录</h3>
        </div>
    </section>
    <section class="section clearfix animate" id="project">
        <div class="container">
            <div class="section-main">
                {% include './common/list.html' %}
            </div>
        </div>
    </section>
    {% include './common/foot.html' %}
</body>

</html>
