body {
  font: 13px/1.4  "PingFang SC", "Microsoft YaHei", sans-serif, arial;
  margin: 0; }

a {
  color: #333;
  text-decoration: none; }

.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0; }

.container {
  max-width: 880px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative; }
