.footer {
  padding: 60px 0 50px 0;
  font-size: 15px;
  color: #999;
  text-align: center; }

.weixin {
  text-shadow: 0 1px 1px #aaa;
  font-size: 14px;
  max-width: 50em;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; }
  .weixin div {
    float: left;
    width: 50%; }
    .weixin div img {
      display: block;
      max-width: 200px;
      margin: 0 auto 10px;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12); }
