<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Div-wang</title>
    <link rel="stylesheet" href="/build/css/main.css?time={{time}}">
</head>

<body>
    <header class="header animate">
        <div class="container">
            <h1 class="sitename">
                <a href="/">Div-wang</a>
            </h1>
            <ul class="nav-right">
                <li>
                    <a href="/#about">About</a>
                </li>
                <li>
                    <a href="/#project">Project</a>
                </li>
                <li>
                    <a href="./" style="color:#dd514c">Blog</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="welcome animate" id="welcome">
        <div class="container">
            <h2 style="text-align:center">Read Me {% include '../html/icons/github.html' %} {% include '../html/icons/sina.html' %} {% include '../html/icons/zhihu.html' %} {% include '../html/icons/google.html' %} </h2>
            <h3 style="text-align:center">我的技术随想录</h3>
        </div>
    </section>
    <section class="section clearfix animate" id="project">
        <div class="container">
            <div class="section-main">
                <div class="member">
                    <a class="member-name" target="_blank" href="hosts翻墙上google.html">hosts翻墙上google {% include '../html/icons/link.html' %}</a>
                    <div class="member-skills">
                        天朝的网络大家都懂的，有个万恶的强一直在阻止程序猿们翻山越岭。而对于用惯免费的我们来说，VPN代理是收费的，下面教大家一个免费翻墙的方法－hosts翻墙
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="CSS 选择器性能求解.html"> CSS 选择器性能求解 {% include '../html/icons/link.html' %}</a>
                    <div class="member-skills">
                        这是简介
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="JavaScript Array 常用操作.html"> JavaScript Array 常用操作 {% include '../html/icons/link.html' %}</a>
                    <div class="member-skills">
                        这是简介
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="JavaScript DOM节点操作.html"> JavaScript DOM节点操作 {% include '../html/icons/link.html' %}</a>
                    <div class="member-skills">
                        这是简介
                    </div>
                </div>
                <div class="member">
                    <a class="member-name" target="_blank" href="手机网页实现分享到本地微信微博等应用中.html">手机网页实现分享到本地微信微博等应用中 {% include '../html/icons/link.html' %}</a>
                    <div class="member-skills">
                        这是简介
                    </div>
                </div>

            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            Copyright © 2015 <a href="https://github.com/div-wang">Div-wang</a>.
        </div>
    </footer>
</body>

</html>
