<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">{% include '../static/blog-css.html' %}<title>hosts翻墙上google</title></head><body>{% include '../common/head.html' %}<article class="markdown-body"><h1 id="hostsgoogle"><a name="user-content-hostsgoogle" href="#hostsgoogle" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>hosts翻墙上google</h1>
<p>天朝的网络大家都懂的，有个万恶的墙一直在阻止程序猿们翻山越岭。而对于用惯免费的我们来说，VPN代理是收费的，下面教大家一个免费翻墙的方法－hosts翻墙</p>
<h3 id="hosts"><a name="user-content-hosts" href="#hosts" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>下载hosts</h3>
<p>首先是下载一个可以翻墙的hosts文件：<a href="http://pan.baidu.com/s/1kTq1d1H">hosts-div-wang.github.io</a></p>
<p>这个hosts以前是Github上一个项目<a href="https://github.com/huhamhire/huhamhire-hosts">huhamhire</a>在维护，目前<a href="https://github.com/huhamhire/huhamhire-hosts">huhamhire</a>项目已经停止更新，原因你懂得！</p>
<h3 id="hosts_1"><a name="user-content-hosts_1" href="#hosts_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>修改hosts</h3>
<h4 id="windows"><a name="user-content-windows" href="#windows" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>windows:</h4>
<p>＊打开<code>C:\Windows\System32\drivers\etc</code>文件夹，<br />
＊直接将下载好的文件替换掉原有hosts文件</p>
<h4 id="linux"><a name="user-content-linux" href="#linux" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>linux:</h4>
<p>＊将下载的文件用文本编辑器打开，（推荐<code>sublime text</code>）；<br />
＊全选代码，复制出来；<br />
＊在终端输入 <code>sudo vi/etc/hosts</code> 粘贴代码；<br />
＊按esc 输入<code>:wq</code>保存;(如果保存代码出错，输入<code>:wq!</code>强制保存)</p>
<h3 id="_1"><a name="user-content-_1" href="#_1" class="headeranchor-link" aria-hidden="true"><span class="headeranchor"></span></a>说明</h3>
<p>hosts翻墙亲测可以上<code>google</code>、<code>facebook</code>、<code>twitter</code>、<code>youtube香港</code>、<code>wikipedia</code><br />
我会长期维护hosts，如需要请关注我Github：<a href="https://github.com/div-wang">div-wang</a>或我的微信订阅号：<br />
<img alt="Div吐槽的地方" src="../build/img/qrcode_for_gh_f13c307045b7_430.jpg" height="430" width="430" /><br />
如果你感觉对你有帮助请捐赠一下：<br />
<img alt="Div吐槽的地方" src="https://mmbiz.qlogo.cn/mmbiz/eHSDtyLjkGHNVWVLOMVvTXRnyOaMicJibLibRPib7S1dNKGv7InjaTt73AAp5aMc1ATnh7N3G9wjY3cP9wxg1MUHfQ/0?wx_fmt=jpeg" /></p></article>{% include '../common/foot.html' %}</body></html>